<div class="content" style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="icon/undraw_remotely_2j6y.svg" alt="Remote Work Illustration" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>OTP Verification</h3>
                            <p>An OTP has been sent to {{mobile}}</p>
                        </div>
                        <form action="/forgot-password-otp" method="POST">
                            <input type="hidden" name="token" value="{{token}}" />
                            <div class="form-group first">
                                <label for="mobile">Mobile Number</label>
                                <input type="number" name="mobile" value="{{mobile}}" class="form-control" id="mobile"
                                    readonly />
                            </div>
                            <div class="form-group first">
                                <label for="otp">OTP</label>
                                <input type="number" name="otp" class="form-control" id="otp" required
                                    aria-label="Enter OTP" />
                            </div>
                              <div class="form-group"></div>
                                <label for="otp">New Password</label>
                                <input type="password" name="newPassword" class="form-control" id="newPassword" required
                                    aria-label="Enter OTP" />
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                            <input type="submit" value="Change Password" class="btn mt-5 btn-block btn-primary w-50">
                            </div>
                        </form>
                            {{#if errOtp}}
                            <div class="form-group last mt-4">
                                <label for="" style="color: #f10707;">Invalid Otp</label>
                            </div>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>